@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>CitiX BCX</h1>
    <img src="" alt="" />
    <p><a href="#" class="btn btn-primary btn-lg">Enter</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="#">Manager Login</a></p>
    </div>

</div>